.roulette {
  background: #2D7551;
}

.roulette-content {
  padding-top: 5%;
}

.window {
  display: block;
  width: 1000px;
  height: 450px;
  overflow: hidden;
}

#wheel {
  width: 100%;
  cursor: pointer;
}

#wheel:hover {
  animation: wheel 2s linear 0s 1;
}

#wheel::before {
    content: '';
    position: absolute;
    width: 30px;
    height: 30px;
    background: yellow;
    border-radius: 100%;
    animation: wheel 2s linear 0s infinite;
    left: 500px;
    top: 100px;
}

@keyframes wheel {
  100% {
    transform: rotateZ(360deg);
  }
}
